[submodule "third-party/gtest/gtest"]
	path = third-party/gtest/gtest
	url = https://github.com/google/googletest
[submodule "third-party/eigen/eigen"]
	path = third-party/eigen/eigen
	url = https://gitlab.com/libeigen/eigen
